body {
	font-family: arial, helvetica, "sans-serif";
	color: $white;
	background-color: #121212;
	font-size: 12px;
	line-height: 1.5em;
}

a {
	color: $blue;
}

li {
	margin-bottom: 1.5em;
}

header {
	h1 {
		font-size: 16px;
	}
}

