//colors
$blue:       #32C2FE;
$white:     #ddd;
$black:     #000;
$gray:       #818283;
$red:         #c00;
$green:     #0c0;

$default-text-shadow-color: rgba($black, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;