#scoring-grid {
	width: 100%;
	col {
		border-right: 1px solid $gray;
		width: 5%;
		&.col-1 {
			width: 30%;
		}
		&.col-2, &.col-10 {
			border-right-width: 4px;
		}
	}
	tr {
		border: 1px solid $gray;
	}
	td, th {
		padding: 5px;
	}
	th {
		color: $blue;
		font-weight: bold;
		position: relative;
	}
	.touches-scored {
		text-align: center;
		&:after {
			content: "V";
			width: 50%;
			text-align: center;
			display: block;
			float: right;
			border-left: 1px solid $gray;
			overflow: hidden;
			text-indent: -100%;
		}
		&.victory:after {
			text-indent: 0;
		}
	}
	.not {
		background-color: #135;
	}
	.drop-fencer.hover {
		background-color: rgba(34,102,170,.5);
	}
	[data-strip-side = "red"] {
			background-color: #c00;
			color: white;
	}
	[data-strip-side = "green"] {
			background-color: #0c0;
			color: white;
	}
	.notes-link {
		width: 16px;
		height: 16px;
		display: block;
		position: absolute;
		right: 3px;
		top: 6px;
		background: transparent url(/img/Notes-icon.png) right top no-repeat;
	}
}